<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Gin Rummy Calculator</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous" async></script>
</head>

<body>


  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-2 fw-normal"><%= player1.name %></h2>
      </div>
      <div class="bg-body-tertiary shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        <h2 class="text-dark display-3">Score:</h2>
        <h1 class="text-dark display-1 fw-bold pt-4 pb-4"><%= player1.points %></h1>
        <h2 class="text-dark display-6 pb-3">Rounds Won:</h2>
        <h1 class="text-dark display-6 fw-bold"><%= player1.roundsWon %></h1>
        <form action="/p1-score" method="get">
          <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-md btn-dark" type="submit">Won Round</button>
          </div>    
        </form>
      </div>
    </div>
    <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-2 fw-normal"><%= player2.name %></h2>
      </div>
      <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        <h2 class="text-light display-3">Score:</h2>
        <h1 class="text-light display-1 fw-bold pt-4 pb-4"><%= player2.points %></h1>
        <h2 class="text-light display-6 pb-3">Rounds Won:</h2>
        <h1 class="text-light display-6 fw-bold"><%= player2.roundsWon %></h1>
        <form action="/p2-score" method="get">
          <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-md btn-light" type="submit">Won Round</button>
          </div>    
        </form>
      </div>
    </div>
    <form action="/reset" method="post">
      <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-lg btn-dark fw-medium mt-5" type="submit">Restart Game</button>
      </div>   
    </form>
  </div>



  
</body>

</html>